@font-face {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/noto-sans-v14-latin-regular.woff2') format('woff2'), 
         url('../fonts/noto-sans-v14-latin-regular.woff') format('woff'); 
}
@font-face {
    font-family: 'Recoleta';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/Recoleta-RegularDEMO.woff2') format('woff2'), 
         url('../fonts/Recoleta-RegularDEMO.woff') format('woff'); 
}