body{
    margin: 0;
    padding: 0;
}
.container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.header{
    display: flex;
    margin-bottom: 10px;
    background-color: #163A24;
}
.header__img{
    width: 153px;
    height: 58px;
    margin-top: 5px;
    margin-left: 100px;
}
.item__button{
    border: 1px solid #198C36;
    padding: 10px 25px;
    border-radius: 50px;
    background-color: #198C36;
    color: white;
}
.header__list{
    list-style-type: none;
    display: flex;
    margin-left: 700px;
}
.header__item{
    margin-right: 20px;
    margin-top: 10px;
}
.header__link{
    text-decoration: none;
    color: white;
}
.wrapper{
    background-color: #163A24;
    height: 560px;
    margin-top: -10px;
}
.wrapper__img{
    width: 700px;
    height: 500px;
    margin-left: 550px;
    margin-top: 60px;
}
.wrapper__heading{
    font-size: 60px;
    color: #fff;
}
.wrapper__text{
    font-size: 20px;
    color: #fff;
}
.wrapper__nav{
    margin: -500px 0 0 110px;
}


.card__nav{
    display: flex;
    margin: 100px 0 0 150px;
}
.card__heading{
    font-size: 54px;
    margin: 100px 0 0 100px;
}
.card__text{
    font-size: 27px;
    margin: 250px 0 0 -340px;
}
.heading{
    transform: translateX(-90px);
}
.text{
    transform: translateX(-150px);
}
.card__list{
    list-style-type: none;
    display: flex;
    margin-left: 250px;
}
.card__header{
    font-size: 54px;
    color: #163A24;
    text-align: center;
    margin: 100px 0;
}
.card__item{
    margin-right: 70px;
}

.box{
    width: 1440px;
    height: 568px;
    background-color: #163A24;
}
.box__heading{
    color: #fff;
    font-size: 54px;
    margin-left: 200px;
    transform: translateY(80px);
}
.box__list{
    list-style-type: none;
    display: flex;
    margin-left: -40px;
    margin-top: 180px;  
}
.box__item{
    margin-left: 150px;
}
.box__link{
    text-decoration: none;
}
.box__text{
    color: #fff;
    text-align: center;
}
.box__nav{
    background-color: #F2EFE6;
    transform: translateY(-70px);
}
.box__nav__heading{
    font-size: 54px;
    color: #163A24;
    text-align: center;
    margin-top: 150px;
    transform:translateY(100px);
}
.box__nav__text{
    text-align: center;
    color: #163A24;
    margin-top: 130px;
    font-size: 20px;
}
.box__nav__img{
    margin-left: 100px;
}

.frame__nav{
    margin-top: 800px;
    display: flex;
}
.frame__heading{
    font-size: 54px;
    color: #163A24;
    margin-top: 100px;
    margin-left: 200px;
}
.frame__text{
    font-size: 20px;
    margin-top: 250px;
    line-height: 25px;
    transform: translateX(-350px);
}
.frame__img{
    margin-left: -200px;
}

.menu__heading{
    font-size: 54px;
    text-align: center;
    margin-top: 100px;
}
.menu__text{
    font-size: 20px;
    text-align: center;
    margin-top: -10px;
}
.menu__list{
    list-style-type: none;
    display: flex;
    margin-left: 40px;
}
.menu__item{
    width: 353px;
    height: 393px;
    border: 1px solid #FBFAF7;
    background-color: #FBFAF7;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 10px 10px 14px -10px rgb(175, 172, 172);
}
.menu__img{
    margin: 40px 0 0 50px;
}
.menu__subheading{
    margin: 20px 0 0 50px;
    font-size: 31px;
}
.menu__submenu{
    list-style-type:disc;
    color: black;
}
.menu__subitem{
    font-size: 20px;
    line-height: 30px;
    margin: 10px 0 0 30px;
}


.order{
    width: 1440px;
    height: 602px;
    background-color: #F2EFE6;
}
.order__heading{
    font-size: 54px;
    margin: 100px 0 0 500px;
    transform:translateY(100px);
}
.order__text{
    font-size: 20px;
    margin: 130px 0 0 450px
}
.order__list{
    list-style-type: none;
    display: flex;
    margin: 100px 0 0 100px;
}
.order__item{
    text-align: center;
    margin: 0 70px 40px 0;
}
.order__span{
    font-size: 31px;
    font-weight: bold;
}
.top, .bottom{
    margin-top: 20px;
}
.order__circle{
    margin-top: -700px;
    transform: translateX(930px);
}
.order__btn{
    width: 244px;
    height: 52px;
    color: #fff;
    background-color: #198C36;
    border-radius: 50px;
    text-decoration: none;
    padding: 15px 25px;
    margin-left: 550px;
}


.nav{
    display: flex;
    margin: 100px 0 0 230px;
}
.nav__left{
    margin: 60px 100px 0 0;
}
.nav__heading{
    font-size: 54px;
}
.nav__text{
    font-size: 27px;
    margin: -10px 0 30px 0;
}
.nav__btn{
    text-decoration: none;
    color: #fff;
    background-color: #198C36;
    width: 191px;
    height: 52px;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 22px;
}


.book{
    width: 1440px;
    height: 415px;
    background-color: #163A24;
}
.book__img-right{
    margin-left: 1100px;
    margin-top: -320px;
}
.book__img-left{
    margin-left: 10px;
    margin-top: 20px;
}
.book__nav{
    margin: -350px 0 0 600px;
    color: #fff;
}
.book__heading{
    font-size: 54px;
    text-align: center;
    margin-left: -700px;
}
.book__text{
    font-size: 27px;
    text-align: center;
    margin-left: -700px;
    margin-bottom: 50px;
}
.book__btn{
    width: 258px;
    color: black;
    text-decoration: none;
    background-color: #FAB5A0;
    padding: 14px 24px;
    border-radius: 30px;
    margin-left: -50px;
}


.sign{
    width: 1440px;
    height: 240px;
    background-color: #F2EFE6;
    display: flex;
}
.sign__heading{
    font-size: 54px;
}
.sign__text{
    font-size: 27px;
}
.sign__input{
    width: 590px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    /* position: relative; */
}
.sign__btn{
    width: 111px;
    height: 52px;
    color: #fff;
    background-color: #15762E;
    border-radius: 30px;
    padding: 19px 24px;
    text-decoration: none;
    margin-left: -100px;
}
.sign__right{
    margin: 70px 0 0 230px;
}
.sign__left{
    margin-left: 100px;
}
.sign__description{
    margin-left: 20px;
    line-height: 20px;
}
.sign__span{
    color: #15762E;
    font-weight:bolder;
    margin-left: 10px;
}




.footer, .container{
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}
.footer{
    width: 1440px;
    height: 194px;
}
.footer__heading{
    font-size: 36px;
    margin-top: -1px;
}
.footer__img{
    width: 110px;
    height: 42px;
}
.footer__icons{
    margin: 5px 5px 0 20px;
}
.footer__top{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-left: -20px;
}
.footer__text{
    font-size: 18px;
    margin-right: 170px;
}
.footer__bottom{
    display: flex;
    margin: 40px 0 0 60px;
}
.footer__list{
    list-style-type: none;
    display: flex;
}
.footer__item{
    margin: 0 10px 0 20px;
}
.footer__link{
    text-decoration: none;
    color: #198C36;
    font-size: 18px;
}
.footer__hr{
    width: 1180px;
}
